*{
	margin: 0;
	padding: 0;
	
}
.navbar{

border: none;
background-color: black;
color: #2a6112;
}
body{
	background-color: #00b8fb;
	color: white;
}
.glyphicon{
	font-size: 30px;
	color:#00ff40; 
}

.center{
	width: 90%;
	background-color: grey;

}
.container
{
	background-color: rgb(0, 0, 0);
}
.text-center{
	font-size: 30px;
}

h2{
	text-align: center;
}
#myNavbar ul li a {
	color: #ffffff;
}
.navbar-brand{
font-size: 30px;	
}